<body ng-app="unionVillage">
    
	<div class="call-main-wrapper" style="height: 100vh; width: 100%; margin-top: 55px;">
		<div class="row">
        
        	<div class="col-xs-12" style="text-align: center;">
          
          		<h3>Office Hours:</h3>
            	<h4 style="margin-bottom: 0px;">Monday-Saturday: </h4>
            	<p style="margin-top: 0px;">9am-5pm PST</p>
            
            	<h4 style="margin-top: 5px; margin-bottom: 0px;">Sunday:</h4>
            	<p style="margin-top: 0px;">Closed</p>
            
            	<span style="text-decoration: none; font-size: 16px;"><b>Phone: </b></span><a href="tel:+1-702-560-5586">+1 (702) 560-5586</a>
            
          	</div>
			
			
			<div class="col-xs-12" style="text-align: center; padding-top: 3%;">
				<h3>Send Mail To:</h3>
				<h4>inspirewellnesscenters</h4>
				<h4>151 Shipyard Way</h4>
				<h4>Suite B</h4>
				<h4>Newport Beach, CA 92663</h4>
			</div>
		</div>
	</div>
  
</body>