<body ng-app="unionVillage">
  
	<!-- Beginning of Main Body Contents -->
	<div class="oc-page-wrapper" style="height: 100vh; width: 100%; text-align: center;">
      
		<h1>Co-Founders</h1>
      
      	<div class="row" id="cofounder-row">
        
			<!-- Gary Holland Column -->
			<div class="col-md-6">
			
				<h2>Gary Holland</h2>
				<h4>Partner</h4>
				
				<img src="img/gary holland profile.png" alt="Gary Holland of Union Village" />
				
				<!--<p>Mr.  Holland serves on the Company’s Board of Managers and is its VP of Union Sponsorship. Mr. Holland has spent his career marketing health care plans to Unions.</p>-->
			
			
			</div>
			<!-- End of Gary Holland Column -->
        
			<!-- Craig Johnson Column -->
			<div class="col-md-6">
			
				<h2>Craig Johnson</h2>
				<h4>Partner</h4>
				
				<img src="img/craig johnson profile.png" alt="Craig Johnson of Union Village" />
				
				<!--<p>Mr. Johnson serves on the Company’s Board of Managers and is its VP of Strategic Planning. Mr. Johnson has an exemplary back ground.</p>-->
			
			</div>
			<!-- End of Craig Johnson Column -->
			
			
			
			<!-- Beginning of Co-Founder Verbiage -->
			<div class="col-xs-12">
				<h4>Our co-founders, Gary Holland and Craig Johnson have been friends for 30+ years and business partners for 5  years.  They are two of the co-founders of UnionVillage of Henderson, NV., the “largest healthcare project in the United States” according to Healthcare Design Magazine.</h4>
				
				<br>
				
				<h4>Over the past five years the company has been designing an integrated wellness approach to Senior Living.  The first of which is in planning at UnionVillage – a 300 unit $60M project.</h4>
				
				<br>
				
				<h4>The company has also consulted with one of the largest and best healthcare delivery systems in the United States with the goal being to bring a senior wellness strategy to the organization.</h4>
			</div>
			<!-- End of Co-Founder Verbiage
      
      	</div>
	
	</div>

</body>