<body>
	<div class="wellness-main-wrapper" style="height: 100vh; width: 100%; margin-top: 50px;">
    	
		<!-- Beginning of Row -->
		<div class="row">
        
        	<div class="col-md-2 col-xs-0"></div>
			
			<div class="col-md-8 col-xs-12">
				<h4>Wellness Centers are hard to define, and different things to different people</h4>
				
				<br>
				
				<h4>Inspire Wellness Centers are wellness “malls” which offer an exhaustive menu of services to meet the varied wellness goals of our customers.</h4>
				
				<ul>
					<li>Pharmacy</li>
					<li>Telemedicine</li>
					<li>Outpatient Therapy</li>
					<li>Eye Clinic</li>
					<li>Mental Health</li>
					<li>Demonstration Kitchen</li>
					<li>Education Conference Rooms</li>
					<li>Dental Clinic</li>
					<li>Vitamin Store</li>
					<li>Diabetic Clinic</li>
					<li>Chiropractic Office</li>
					<li>Molecular-puncture</li>
				</ul>
				
				<ul class="rightList">
					<li>Acupuncture</li>
					<li>Other Eastern Medicine</li>
					<li>Wellness Coach</li>
					<li>Fitness Center</li>
					<li>Locker Rooms</li>
					<li>Lap Pool</li>
					<li>Exercise Pool</li>
					<li>Warm Water Therapy</li>
					<li>Spa</li>
					<li>Nutritionist Office</li>
					<li>Treatment/Therapy</li>
					<li>Nutrition Café</li>
				</ul>
				
			</div>
			
			<div class="col-md-2 col-xs-0"></div>
			
		</div>
		<!-- End of Row -->
		
	</div>
</body>